* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}
button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}

header {
    padding: 0px 20px;
}
header, .logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0072bb;
}
.logo-img {
    height: 50px;
}
.logo-name {
    color: #fff;
}
.order-btn {
    padding: 5px 15px 5px 5px;
    background-color: #f36523;
    color: #fff;
    font-size: 10px;
}

.advertising-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 35px 50px;
}
.advertising-info :nth-child(n) {
    text-align: center;
}
.adv-first {
    margin-bottom: 10px;
}
.adv-text {
    margin-top: 30px;
}

.actual-position {
    margin: 0px 20px;
}
.all-pos-wrapper {
    margin: 35px 0px;
}
.pos-item_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.pos-item {
    border: 2px solid #acacac;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.pos-item img {
    margin: 15px 0px;
    width: calc(100% - 10px);
}
.pos-item h4 {
    color: #8f0002;
    margin-bottom: 20px;
}
.pos-item button {
    margin: 30px 0px 40px 0px;
    font-size: 18px;
}
.pos-item :nth-child(n) {
    text-align: center;
}

.set-pos {
    max-height: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.set-pos :nth-child(n) {
    display: inline-block;
}
.mainset-name {
    font-size: 18px;
}
.extraset-adv {
    color: #8f0002;
    font-size: 18px;
}
.extraset-name {
    text-align: end;
}

.profitable-offer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #6dcff6;
    padding: 40px 0px;
}
.offer-name {
    color: #fff;
    text-shadow: 5px 5px 10px #808080;
    margin-left: 15px;
}
.slider-wrapper {
    width: 260px;
    overflow: hidden;
    height: 180px;

}
.offer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.offer-slider {
    min-width: calc(100% - 20px);
    min-height: 225px;
    margin: 30px 10px;
    padding: 10px;
    background-color: #fff;
    position: relative;
}
.offer_main-img {
    height: 100px;
}
.offer_main-item {
    display: inline-block;
    text-align: center;
    color: #333333;
    position: absolute;
    top: 5px;
    left: 90px;
}
.offer_present-img {
    width: 95px;
    position: absolute;
    top: 50px;
    right: 10px;
}
.offer_present-item {
    color: #333333;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 115px;
}

.slider-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}
.slider-control i {
    font-size: 25px;
    color: #fff;
}
.counter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70px;
}
.item-counter {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}
footer {
    background-color: #fff;
    text-align: center;
    padding: 10px 0px;
}
footer :nth-child(n) {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.opacity-elem {
    opacity: 0.6;
}

@media screen and (min-width: 375px) {
    .set-pos {
        width: 100%;
    }
}

@media screen and (min-width: 426px) {
    .logo-img {
        height: 60px;
    }
    .logo-name {
        font-size: 16px;
        margin-left: 10px;
    }
    .order-btn {
        padding: 7px 20px 7px 10px;
        font-size: 16px;
    }
    .adv-text {
        width: 450px;
    }
    .pos-item_wrapper {
        justify-content: space-between;
    }
    .pos-item {
        width: calc(33% - 7px);
    }
    .pos-item img {
        width: calc(100% - 10px);
    }
    .slider-wrapper {
        width: 525px;
        height: 255px;
    }
    .set-pos {
        width: fit-content;
    }
    .offer_main-img {
    height: 200px;
    }
    .offer_main-item {
    top: 20px;
    left: 175px;
    }
    .offer_present-img {
    width: 190px;
    top: 15px;
    }
    .offer_present-item {
        left: 250px;
        top: 155px;
    }
}

@media screen and (min-width: 1024px) {
    .logo-img {
        height: 80px;
    }
    .logo-name {
        font-size: 25px;
    }
    .order-btn {
        padding: 10px 25px 10px 15px;
        font-size: 20px;
    }
    .adv-first, .adv-second{
        font-size: 30px;
    }
    .adv-text {
        width: 535px;
        font-size: 20px;
    }
    .act-pos-name {
        font-size: 25px;
    }

    .all-pos-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pos-item_wrapper {
        width: 70%;
    }
    .set-pos {
        height: auto;
        width: 28%;
    }
    .slider-wrapper {
        width: 650px;
        height: 285px;
    }
    .offer_main-item {
        font-size: 22px;
    }
    .offer_present-item {
        font-size: 22px;
    }
} 